@{
    ViewData["Title"] = "Home Page";
}


<body>

    <div class="box">
        <h1>Marathon Run 2025</h1>
        <p>Register now for the marathon!</p>

        
        <a href="@Url.Action("Privacy")">
            <button class="register-btn">Register Now</button>
        </a>
    </div>

</body>
</html>

