html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: radial-gradient(circle, #e0a760, #d66d2b);
}

.box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 150px;
    width: 300px;
    margin-left: 500px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.register-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

    .register-btn:hover {
        background-color: #45a049;
    }

form {
    width: 50%;
}

.box-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 550px;
    margin-top: 50px;
    overflow: auto;
    height: 500px;
}

.box_Form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    margin-left: 400px;
}

  

.box_view {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
}
